
<html>
<head>

    {{> header }}

</head>

<body>

    <div class="container">
        <h1>My articles</h1>

        {{> menu}}
        <div class="list-group">
            {{#articles}}
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{title}}</h5>
                <small>3 days ago</small>
                </div>
                <p class="mb-1">{{body}}</p>
                <a href="/users/articles/edit/{{articleid}}">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </a>
            </a>
        </div>
            {{/articles}}
    </div>

    {{> footer}}

</body>
</html>
